<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Academy Manager</title>
  </head>
  
  <body>
    <h1 class="display-1 text-center"> Academy Manager</h1>
    
    <div class="fluid-container">
      <div class="row">

	<div class="col-md-4">
	  <a href="/manage-acdemy">
	    <img src="https://www.bls.gov/spotlight/2017/sports-and-exercise/images/cover_image.jpg" />
	  </a>
	  Are you a sport Coach ?
	  Manage your academy here ...
	</div>
	<div class="col-md-4"></div>
	
	<div class="col-md-4">
	  <img src="https://www.bls.gov/spotlight/2017/sports-and-exercise/images/cover_image.jpg" />
	  Are you a learner
	  Find your academy here ..
	</div>
      </div>      
    </div>
  </body>
  
  

</html>
